@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins" !important;
  height: 100%;
}
/* header */
.header {
  width: 100%;
  height: 100vh;
  background: #1c1e53;
}
@media (max-width: 992px) {
  .header {
    text-align: center;
  }
}
.header > .site-hero {
  width: 100%;
  height: 1136px;
  margin-top: 92px;
  padding: 126px 0px;
}

.navbar {
  height: 92px;
  background: #1c1e53;
}
.navbar .offcanvas {
  background: #1c1e53;
}
@media (max-width: 992px) {
  .navbar .offcanvas {
    background-image: url("/assets/images/istockphoto-1465188429-170667a.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.offcanvas .nav-item {
  padding: 0px 15px;
}

.offcanvas .nav-link {
  color: white;
  transition: all 0.5s;
}
.offcanvas .nav-link:hover {
  padding: 12px 20px;
  color: #fcd980;
}
.site-nav-btn {
  padding: 12px 28px;
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background-color: transparent;
  color: #fff;
  text-transform: capitalize;
  transition: all 0.7s;
}
.site-nav-btn:hover {
  color: #1b1c2b;
  background-color: #fcd980;
}
.site-btn {
  padding: 12px 36px;
  border: 2px solid #fcd980;
  border-radius: 41px;
  background: #fcd980;
  transition: all 0.7s;
  color: #1b1c2b;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-transform: capitalize;
}
.site-btn:hover {
  background-color: transparent;
  color: #fcd980;
  transform: scale(1.1);
}
/* header */

/* project section */
.project {
  padding: 57px 0px 128px 0px;
}

.img-left {
  width: 100%;
}
.img-top {
  width: 100%;
}
.img-bottom {
  width: 100%;
}
/* project section */

/* design section */
.design {
  width: 100%;
  height: 2130px;
  background: var(--Grey, #f4f6fc);
}

.design-title {
  max-width: 630px;
  width: 100%;
}

.cards {
  padding: 108px 48px 42px 48px;
  width: 405px;
  height: 316px;
  background-color: #fff;
}

/* design section */

/* section carousel */

.carousel {
  height: 706px;
  padding-top: 900px 0px 0px 0px;
}
.img-icon {
  border-radius: 50%;
}
.carousel-control-prev {
  padding: 10px 0px;
  height: 50px;
}
.carousel-control-next {
  padding: 10px 0px;
  height: 50px;
}
.carousel-item {
  padding-top: 20px px;
  width: 843px;
}

/* section carousel */

/* footer */
footer {
  width: 100%;
  height: 489px;
  background: #1c1e53;
}
.input-contact {
  margin-top: 90px;
  width: 617px;
  height: 95px;
  background: var(--Yellow, #fcd980);
  padding: 17px 13px 17px 37px;
}
.footer-area {
  padding: 120px 0px 92px 0px;
}
/* footer */
